/*
 * Copyright (c) 2021 weteor
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define CMAKDH 0
#define QWERTY 1
#define SYM    2
#define NAV    3
#define NUM    4
#define FUN    5
#define CFG    6
#define BLE    7

// repeating space/backspace
&lt { quick_tap_ms = <200>; };

/ {
    combos {
        compatible = "zmk,combos";

        combo_semi {
            timeout-ms = <50>;
            key-positions = <0 10>;
            layers = <CMAKDH QWERTY>;
            bindings = <&kp SEMI>;
            };
        combo_lBracket {
            timeout-ms = <50>;
            key-positions = <1 11>;
            layers = <CMAKDH QWERTY>;
            bindings = <&kp LEFT_BRACKET>;
            };
        combo_lBrace {
            timeout-ms = <50>;
            key-positions = <2 12>;
            layers = <CMAKDH QWERTY>;
            bindings = <&kp LEFT_BRACE>;
            };
        combo_lParanthesis {
            timeout-ms = <50>;
            key-positions = <3 13>;
            layers = <CMAKDH QWERTY>;
            bindings = <&kp LEFT_PARENTHESIS>;
            };
        combo_equal {
            timeout-ms = <50>;
            key-positions = <4 14>;
            layers = <CMAKDH QWERTY>;
            bindings = <&kp EQUAL>;
            };

        combo_asterix {
            timeout-ms = <50>;
            key-positions = <5 15>;
            layers = <CMAKDH QWERTY>;
            bindings = <&kp ASTERISK>;
            };

        combo_rParanthesis {
            timeout-ms = <50>;
            key-positions = <6 16>;
            layers = <CMAKDH QWERTY>;
            bindings = <&kp RIGHT_PARENTHESIS>;
            };
        combo_rBrace {
            timeout-ms = <50>;
            key-positions = <7 17>;
            layers = <CMAKDH QWERTY>;
            bindings = <&kp RIGHT_BRACE>;
            };
        combo_rBracket {
            timeout-ms = <50>;
            key-positions = <8 18>;
            layers = <CMAKDH QWERTY>;
            bindings = <&kp RIGHT_BRACKET>;
            };
        combo_bSlash {
            timeout-ms = <50>;
            key-positions = <9 19>;
            layers = <CMAKDH QWERTY>;
            bindings = <&kp BACKSLASH>;
            };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp TAB>;
            };
        combo_backspace {
            timeout-ms = <50>;
            key-positions = <7 8>;
            bindings = <&kp BACKSPACE>;
            };
        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESCAPE>;
            };

        combo_funLayer {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&mo FUN>;
            };

        combo_cfgLayer {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&mo CFG>;
            };

        combo_bleLayer {
            timeout-ms = <50>;
            key-positions = <30 31>;
            bindings = <&mo BLE>;
            };

        combo_capsWord {
            timeout-ms = <50>;
            key-positions = <22 27>;
            bindings = <&caps_word>;
            };

    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <180>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
    
// COMBOS
// vertical
// -------------------------------     -------------------------------
// |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  | 
// |  /  |  [  |  {  |  (  |  =  |     |  *  |  )  |  }  |  ]  |  \  |  
// |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  '  | 
//
// others:
// Q + W - escape
// W + E - tab
// I + O - backspace
// C + , - word caps
// both inner thumbs -> Layer CFG
// both left thumbs  -> Layer BLE

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "Base Colemak DH";
// -------------------------------     -------------------------------
// |  Q  |  W  |  F  |  P  |  B  |  -  |  J  |  L  |  U  |  Y  |  '  | 
// |A win|R alt|S ctl|T sft|  G  |     |  M  |N sft|E ctl|I alt|O win| 
// |  Z  |X gr |  C  |  D  |  V  |  -  |  K  |  H  |  ,  |. gr |  /  | 
// ------|  NAV/spc  |    tab    |     |  SYM/ent  |  NUM/bsp  |------
//       -------------------------     -------------------------
            bindings = <
                &kp Q         &kp W         &kp F         &kp P         &kp B                   &kp J         &kp L         &kp U         &kp Y         &kp QUOT
                &hm LGUI A    &hm LALT R    &hm LCTRL S   &hm LSHFT T   &kp G                   &kp M         &hm RSHFT N   &hm RCTRL E   &hm LALT I    &hm LGUI O
                &kp Z         &hm RALT X    &kp C         &kp D         &kp V                   &kp K         &kp H         &kp COMMA     &hm RALT DOT  &kp SLASH
                                                          &lt NAV SPACE &kp TAB                 &lt SYM RET   &lt NUM BSPC
            >;
        };
    
        qwerty_layer {
            label = "Base QWERTY";
// -------------------------------     -------------------------------
// |  Q  |  W  |  E  |  R  |  T  |  -  |  Y  |  U  |  I  |  O  |  P  | 
// |A win|S alt|D ctl|F sft|  G  |     |  H  |J sft|K ctl|L alt|' win| 
// |  Z  |  X  |  C  |  V  |  B  |  -  |  N  |  M  |  ,  |  .  |  /  | 
// ------|  NAV/spc  |    tab    |     |  SYM/ent  |  NUM/bsp  |------
//       -------------------------     -------------------------
            bindings = <
                &kp Q         &kp W         &kp E         &kp R         &kp T                   &kp Y         &kp U         &kp I         &kp O         &kp P
                &hm LGUI A    &hm LALT S    &hm LCTRL D   &hm LSHFT F   &kp G                   &kp H         &hm RSHFT J   &hm RCTRL K   &hm LALT L    &hm LGUI QUOT
                &kp Z         &hm RALT X    &kp C         &kp V         &kp B                   &kp N         &kp M         &kp COMMA     &hm RALT DOT  &kp SLASH
                                                          &lt NAV SPACE &kp TAB                 &lt SYM RET   &lt NUM BSPC
            >;
        };

        sym_layer {
            label = "Symbols";
// -------------------------------     -------------------------------
// |  {  |  &  |  *  |  (  |  }  |  -  |     |     |     |     |     | 
// |  :  |  $  |  %  |  ^  |  +  |     |     | sft | ctl | alt | win | 
// |  ~  |  !  |  @  |  #  |  |  |  -  |     |     |     | gr  |     | 
// ------|           |    CFG    |     |           |           |------
//       -------------------------     -------------------------
            bindings = <
                &kp LBRC      &kp AMPS      &kp ASTRK     &kp LPAR      &kp RBRC                &none         &none         &none         &none         &none
                &kp COLON     &kp DLLR      &kp PRCT      &kp CRRT      &kp PLUS                &none         &kp RSHFT     &kp RCTRL     &kp LALT      &kp LGUI
                &kp TILDE     &kp EXCL      &kp AT        &kp HASH      &kp PIPE                &none         &none         &none         &kp RALT      &none
                                                          &kp RPAR      &kp UNDER               &none         &none
            >;
        };
        
        nav_layer {
            label = "Navigation";
// -------------------------------     -------------------------------
// |     |     |     |     |     |  -  |     |     |     |     |     | 
// |     |     |     |     |     |     |     |left |down | up  |right| 
// |     |     |     |     |     |  -  |     |home |pg dn|pg up| end | 
// ------|           |           |     |    ent    |    bsp    |------
//       -------------------------     -------------------------
            bindings = <
                &none         &none         &none         &none         &none                   &none         &none         &none         &none         &none
                &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHFT     &none                   &none         &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT
                &none         &kp RALT      &none         &none         &none                   &none         &kp HOME      &kp PG_DN     &kp PG_UP     &kp END
                                                          &none         &none                   &kp RET       &kp BSPC
            >;
        };

        num_layer {
            label = "Numbers";
// -------------------------------     -------------------------------
// |  [  |  7  |  8  |  9  |  ]  |  -  |     |     |     |     |     | 
// |  ;  |  4  |  5  |  6  |  =  |     |     | sft | ctl | alt | win | 
// |  `  |  1  |  2  |  3  |  \  |  -  |     |     |     | gr  |     | 
// ------|           |           |     |           |           |------
//       -------------------------     -------------------------
            bindings = <
                &kp LBKT      &kp N7        &kp N8        &kp N9        &kp RBKT                &none         &none         &none         &none         &none
                &kp SEMI      &kp N4        &kp N5        &kp N6        &kp EQUAL               &none         &kp RSHFT     &kp RCTRL     &kp LALT      &kp LGUI
                &kp GRAVE     &kp N1        &kp N2        &kp N3        &kp BSLH                &none         &none         &none         &kp RALT      &none
                                                          &kp N0        &kp MINUS               &none         &none
            >;
        };

        fun_layer {
            label = "Function Keys";
// -------------------------------     -------------------------------
// | F12 |  F7 |  F8 |  F9 |PSCRN|  -  |     |     |     |     |     | 
// | F11 |  F4 |  F5 |  F6 |SLCK |     |     | sft | ctl | alt | win | 
// | F10 |  F1 |  F2 |  F3 |PSBRK|  -  |     |     |     | gr  |     | 
// ------|    spc    |    tab    |     |           |           |------
//       -------------------------     -------------------------
            bindings = <
                &kp F12       &kp F7        &kp F8        &kp F9        &kp PSCRN               &none         &none         &none         &none         &none
                &kp F11       &kp F4        &kp F5        &kp F6        &kp SLCK                &none         &kp RSHFT     &kp RCTRL     &kp LALT      &kp LGUI
                &kp F10       &kp F1        &kp F2        &kp F3        &kp PAUSE_BREAK         &none         &none         &none         &kp RALT      &none
                                                          &kp SPACE     &kp TAB                 &none         &none
            >;
        };

        cfg_layer {
            label = "Configuration";
// -------------------------------     -------------------------------
// |     |     |     |     |     |  -  |PSCRN|     |  ü  |     |     | 
// |  ä  |     |  ß  |     |     |     |     |     |     |     |  oe | 
// |numlk|     |     |     |     |  -  |     |     |     |     |     | 
// ------|           |           |     |           |           |------
//       -------------------------     -------------------------
            bindings = <
                &none         &none         &to CMAKDH    &to QWERTY    &kp PSCRN               &none         &none         &none         &none         &none
                &none         &none         &none         &none         &none                   &none         &none         &none         &none         &none
                &kp KP_NUM    &none         &none         &none         &none                   &none         &none         &none         &none         &none
                                                          &none         &none                   &none         &none
            >;
        };
        
        ble_layer {
            label = "BLE Stuff";
// -------------------------------     -------------------------------
// |     |     |     |     |     |  -  | USB | BLE |     |     |BTCLR| 
// |     |     |     |     |     |     |     |     |     |     |     | 
// |     |     |     |     |     |  -  |BT_0 |BT_1 |BT_2 |BT_3 |BT_4 | 
// ------|           |           |     |           |           |------
//       -------------------------     -------------------------
            bindings = <
                &none         &none         &reset        &none         &bootloader             &out OUT_USB  &out OUT_BLE  &none         &none         &bt BT_CLR
                &none         &none         &none         &none         &none                   &none         &none         &none         &none         &none
                &none         &none         &none         &none         &none                   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
                                                          &none         &none                   &none         &none
            >;
        };
    };
};


